#work-responses {
  display: none;
}

#header{
	color: #ff5757;
}

.form-group{

  position: absolute;
  left: 30%;
  top: 10%;
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.button {
  position:relative;
  background-color: #ff5757; 
  left: 100px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}